body {
  margin: 0;
  padding: 0;
  background-color: #161616;
  font-family: 'Courier New', Courier, monospace
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(85vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
}

/* Efeitos do Header */

.header {
  height: 80px;
  background-color: #161616;
  /* #F50000: Cor concisa com o "Red" do Banner, mas é uma baita cor feia.
    Seria perfeita se fosse sobre plantação de tomate, mas não é. Uso ou não uso? */
}

.header a {
  text-decoration: none;
  color: #ecebeb;
}

.header .container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.titulo {
  color: #ecebeb;
  display: flex;
  align-items: center;
  font-weight: 600;
  /* verificar se posso utilizar o parâmetro "gap" ou se "margin-right" é recomendado aqui*/
  margin-right: 10px;
}

.titulo .logo {
  margin-right: 30px;
}

.pagina_atual {
  font-weight: 800;
  color: #ecebeb;
  text-decoration: underline;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

/* Efeitos de Banner */

.banner {
  height: var(--tamanho-banner);
  background-image: url('../assets/img/bannerRed.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner2 {
  height: var(--tamanho-banner);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background-image: url('../assets/img/bannerRed2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner2 .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-text {
  font-weight: 600;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 80%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: grey;
}


/* Efeitos da seção sobre a banda */

.container-banda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.secao-sobre-banda {
  background-color: #ecebeb;
  display: flex;
  justify-content: center;
}

.secao-sobre-banda img {
  width: 500px;
  height: 400px;
  border-radius: 40px;
  margin: 20px;
  border: 2px solid #161616;
}

.secao-sobre-banda .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Efeitos da seção sobre os membros */

.container-membros {
  display: flex;
  flex-direction: column;
}

.secao-sobre-membros {
  display: flex;
  background-color: #ecebeb;
}

.secao-sobre-membros .membro {
  display: flex;
  align-items: center;
  margin: 10px;
}

.secao-sobre-membros img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  margin: 15px;
}

/* Efeitos da seção de álbuns */

.container-albuns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 150px;
}

.secao-albuns {
  padding-top: 100px;
  background-color: #161616;
  display: flex;
}

.secao-albuns .botao-album {
  background-color: #161616;
  border-radius: 10px;
  width: 20vh;
  height: 5vh;
  color: #ecebeb;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#albuns .foto-album {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

#albuns a {
  text-decoration: none;
}

#albuns img {
  width: 20px;
  height: 20px;
}

card #albuns .ano-album {
  margin-top: 0;
}

#albuns .sobre-album {
  margin: 35px;
}

.card-album {
  padding-top: 25px;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ecebeb;
  border: 3px solid #161616;
}

/* Efeitos do Footer */

.footer {
  text-decoration: none;
  color: #161616;
  background-color: #ecebeb;
  height: 150px;
  border-top: 3px solid #F50000;
  margin-top: 75px;
  list-style: none;
}

.footer .container {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.footer a {
  text-decoration: none;
  color: #161616;
}

.footer h3 {
  text-decoration: underline;
}

/*                                                                                                                                                                                                                                  */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #ecebeb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #161616;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #F50000;
  text-align: center;
  border-radius: 2px;
  margin: 0;
}

.formulario select {
  border: 2px solid #F50000;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 2px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #F50000;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 30px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.campo .mensagem_erro {
  margin-top: 5px;
  display: none;
  align-self: center;
  color: #F50000;
  font-weight: 200;
  font-size: 13px;
}

.card_erro {
  display: none;
  background-color: #ecebeb;
  color: #161616;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #F50000 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.simulador .mensagem_erro {
  margin-top: 5px;
  display: none;
  align-self: center;
  color: #F50000;
  font-weight: 200;
  font-size: 13px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #F50000;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #F50000;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* ROLETA DE MÚSICAS */

.simulador {
  color: white;
}

.container-musicas {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: #161616;
}

.foto-musica {
  width: 350px;
  height: 350px;
  border-radius: 10px;
}

.container-musicas a {
  text-decoration: none;
}

.botao-musica img {
  height: 20px;
  width: 20px;
}

.ano-musica {
  margin-top: 10px;
}

.sobre-musica {
  margin: 35px;
}

.card-musica {
  margin: 30px;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ecebeb;
}

.card-musica .botao-musica {
  background-color: #161616;
  border-radius: 10px;
  width: 20vh;
  height: 5vh;
  color: #ecebeb;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}

.card-avaliacao {
  margin: 30px;
  width: 600px;
  display: none;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #ecebeb;
}

.botao-roleta {
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #F50000;
  width: 150px;
  height: 30px;
  align-self: center;
  margin: 30px;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}